<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Pair</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/stylesheets/me.css">
<link rel="stylesheet" href="/stylesheets/star-rating.css">
<script src="/javascripts/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/javascripts/star-rating.js"></script>
</head>
<body>
<div class="container">
        <div id = “nav_id” class="navbar-collapse collapse navbar-responsive-collapse" style="margin-bottom:-10px;">
                <div class="navbar-header" >                                     
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                                                 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        </button> <a class="navbar-brand" href="/">Brand</a>
                </div>
                <ul class="nav navbar-nav pull-right">
                        <li><a href="/rate">Paie me up</a></li>
                        <li><a href="/liked">Liked</a></li>
                        <li><a href="/whoami">MyAccout</a><li>         
                </ul>
        </div>

</div>
{{{body}}}
</body>
</html>
